n8n-workflows/main-chat-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "97cff5fd-b5d2-4289-8867-320f6718049a",
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4896,
        1412
      ],
      "webhookId": "039fca18-92cf-4549-a7a9-e77aa5f5c98e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "session_id",
              "value": "={{ $json.body.session_id || $json.session_id || $now.format('yyyyMMddHHmmss') + '-' + $runIndex }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "message",
              "value": "={{ $json.body.message || $json.message || '' }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "sessionId",
              "value": "={{ $json.body.session_id || $json.session_id || $now.format('yyyyMMddHHmmss') + '-' + $runIndex }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "970be995-4562-4f75-bf57-52da63a9f85e",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4672,
        1412
      ]
    },
    {
      "parameters": {
        "tableId": "messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $json.sessionId }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "user"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.message }}"
            }
          ]
        }
      },
      "id": "8dc2100d-6a9b-49de-b0a6-f0abb9d7f573",
      "name": "Store User Message",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4448,
        1412
      ],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "conversations",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "condition": "eq",
              "keyValue": "={{ $json.session_id }}"
            }
          ]
        }
      },
      "id": "cb54dbb1-bfb2-4ce7-b267-a2e0ce11967f",
      "name": "Get Conversation State",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4224,
        1412
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.phase ?? 'ai_active' }}",
              "rightValue": "human_active",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4823866f-e900-44b3-b282-e9a99626b04e",
      "name": "Check If Human Is Active",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4000,
        1412
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-oss-120b",
          "mode": "list"
        },
        "options": {
          "maxTokens": 400,
          "temperature": 0.7
        }
      },
      "id": "cacfd832-4851-4ae9-b5a4-16cf83af78e0",
      "name": "NVIDIA Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -3768,
        1784
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Workflow Configuration').item.json.session_id }}",
        "contextWindowLength": 10
      },
      "id": "3eb9eec6-b336-4968-8507-4c07f407494b",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -3640,
        1784
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Workflow Configuration').item.json.message }}",
        "options": {
          "systemMessage": "You are Fig1, Figmenta's friendly and professional AI assistant. Figmenta is a creative digital agency founded in Florence, Italy in 2007, now based in Milan.\n\nABOUT FIGMENTA:\n- Founded 2007 in Florence, moved to Milan in 2010\n- Worked with major brands like P&G and Coty in the beauty industry\n- Services: Brand Identity, Web Development, Social Media Marketing, Digital Marketing\n- Over 15 years of international experience\n\nYOUR GOALS (Discovery Phase):\nYou must collect 5 pieces of information through natural conversation:\n1. PROJECT TYPE - What kind of project they need\n2. BRAND NAME - Their company or brand name\n3. INDUSTRY - What industry they operate in\n4. BUDGET - Approximate budget for the project\n5. TIMELINE - When they need it completed\n\nCONVERSATION RULES:\n- Be conversational and warm, not robotic\n- Acknowledge their responses before asking the next question\n- Ask one question at a time\n- After collecting all 5 data points, ask for their email address\n- Then offer to connect them with a team member\n\nAFTER EMAIL COLLECTED:\nSay: \"Would you like to 'Talk to someone now' or should we 'Email you later'?\""
        }
      },
      "id": "3e1d342f-5a57-49be-b9f2-8a58009c4ad7",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -3776,
        1560
      ]
    },
    {
      "parameters": {
        "tableId": "messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('Workflow Configuration').item.json.sessionId }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "assistant"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.output }}"
            }
          ]
        }
      },
      "id": "c42cf4d2-0020-4353-a0f2-c05a73732807",
      "name": "Store AI Response",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3424,
        1560
      ],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst options = { timeZone: 'Europe/Rome', hour: 'numeric', weekday: 'short', hour12: false };\nconst formatter = new Intl.DateTimeFormat('en-US', options);\nconst parts = formatter.formatToParts(now);\nconst hourPart = parts.find(p => p.type === 'hour');\nconst hour = hourPart ? parseInt(hourPart.value) : 0;\nconst weekdayPart = parts.find(p => p.type === 'weekday');\nconst weekday = weekdayPart ? weekdayPart.value : '';\nconst weekdays = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'];\nconst isBusinessHours = weekdays.includes(weekday) && hour >= 9 && hour < 18;\nreturn [{ json: { isBusinessHours, hour, weekday } }];"
      },
      "id": "0d10818d-134f-4301-83c5-f91d5e807f88",
      "name": "Check Business Hours",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2624,
        1488
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "YOUR_DISCORD_SERVER_ID",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "YOUR_DISCORD_CHANNEL_ID",
          "mode": "id"
        },
        "content": "=🚨 **CUSTOMER ESCALATION REQUEST** 🚨\n\n**Session ID:** {{ $('Workflow Configuration').item.json.sessionId }}\n**Time:** {{ new Date().toLocaleString('en-US', { timeZone: 'Europe/Rome' }) }} CET\n\n**Last Message:**\n{{ $('Workflow Configuration').item.json.message }}\n\n**AI Response:**\n{{ $('Store AI Response').item.json.content }}\n\n✅ Customer requested to talk to someone now - please respond ASAP!",
        "options": {}
      },
      "id": "dea6e326-c7d8-4200-aae2-7d524be95cf9",
      "name": "Discord Notification",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -2176,
        1416
      ],
      "credentials": {
        "discordBotApi": {
          "id": "YOUR_DISCORD_CREDENTIAL_ID",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: $('AI Agent').item.json.output, session_id: $('Workflow Configuration').item.json.sessionId }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "5a6919e5-1de0-40ad-bc61-e44286e48c1d",
      "name": "Respond to Chat Widget",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1952,
        1560
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"response\": \"A team member is currently handling your conversation. They will respond shortly.\", \"session_id\": $('Workflow Configuration').item.json.sessionId, \"human_active\": true }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "c712f924-5693-414b-bb9d-9d0bee3ca631",
      "name": "Respond Human Active",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -3712,
        1264
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c70b2e42-d65c-4203-b195-a4781038810c",
              "leftValue": "={{ $json.isBusinessHours }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2400,
        1488
      ],
      "id": "c2e037ae-edd8-4104-816a-a6741dbceb04",
      "name": "Check If Business Hours"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.output }}",
              "rightValue": "YES",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "id": "55236b37-59ff-46a0-be88-c5256363ba3e",
      "name": "Check If User Wants Human",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2848,
        1560
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Workflow Configuration').item.json.message }}",
        "options": {
          "systemMessage": "You are an intent classifier. Analyze the user message and determine if they want to talk to a real human instead of continuing with AI. Reply with ONLY one word: YES if user wants human help (e.g., talk to someone, speak to human, connect me, yes, talk now), or NO for anything else. Just reply YES or NO."
        }
      },
      "id": "27c52bd0-9781-472a-bd06-c32bdfae1edb",
      "name": "Intent Classifier",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -3200,
        1560
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "openai/gpt-oss-120b"
        },
        "options": {
          "maxTokens": 50,
          "temperature": 0.1
        }
      },
      "id": "dc7084de-2577-4432-b475-308f082eadae",
      "name": "OpenAI Chat Model for Intent",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -3200,
        1808
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Store User Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store User Message": {
      "main": [
        [
          {
            "node": "Get Conversation State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation State": {
      "main": [
        [
          {
            "node": "Check If Human Is Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Human Is Active": {
      "main": [
        [
          {
            "node": "Respond Human Active",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NVIDIA Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Store AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store AI Response": {
      "main": [
        [
          {
            "node": "Intent Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Business Hours": {
      "main": [
        [
          {
            "node": "Check If Business Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Notification": {
      "main": [
        [
          {
            "node": "Respond to Chat Widget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Business Hours": {
      "main": [
        [
          {
            "node": "Discord Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Chat Widget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If User Wants Human": {
      "main": [
        [
          {
            "node": "Check Business Hours",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Chat Widget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Classifier": {
      "main": [
        [
          {
            "node": "Check If User Wants Human",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model for Intent": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}